<?xml version="1.0"?>
<config>
    <modules>
        <Ebiz_Stockist>
            <version>0.1.0</version>
        </Ebiz_Stockist>
    </modules>
    <frontend>
        <routers>
            <stockist>
                <use>standard</use>
                <args>
                    <module>Ebiz_Stockist</module>
                    <frontName>stockist</frontName>
                </args>
            </stockist>
        </routers>
        <layout>
            <updates>
                <stockist>
                    <file>stockist.xml</file>
                </stockist>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<stockist>
				<use>admin</use>
				<args>
					<module>Ebiz_Stockist</module>
					<frontName>stockist</frontName>
				</args>
			</stockist>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<stockist module="stockist">
				<title>Stockist</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="stockist">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>stockist/adminhtml_stockist</action>
					</items>
				</children>
			</stockist>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Ebiz_Stockist>
							<title>Stockist Module</title>
							<sort_order>10</sort_order>
						</Ebiz_Stockist>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<stockist>
					<file>stockist.xml</file>
				</stockist>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <stockist>
                <class>Ebiz_Stockist_Model</class>
                <resourceModel>stockist_mysql4</resourceModel>
            </stockist>
            <stockist_mysql4>
                <class>Ebiz_Stockist_Model_Mysql4</class>
                <entities>
                    <stockist>
                        <table>stockist</table>
                    </stockist>
                </entities>
            </stockist_mysql4>
        </models>
        <resources>
            <stockist_setup>
                <setup>
                    <module>Ebiz_Stockist</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </stockist_setup>
            <stockist_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </stockist_write>
            <stockist_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </stockist_read>
        </resources>
        <blocks>
            <stockist>
                <class>Ebiz_Stockist_Block</class>
            </stockist>
        </blocks>
        <helpers>
            <stockist>
                <class>Ebiz_Stockist_Helper</class>
            </stockist>
        </helpers>
    </global>
</config>